<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAykYs1E-aRPdc3tuOzPTR9w1NBQQp1nKU</string>
	<key>GCM_SENDER_ID</key>
	<string>314165111437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tallykhata.wormhole</string>
	<key>PROJECT_ID</key>
	<string>tallykhata-aecfa</string>
	<key>STORAGE_BUCKET</key>
	<string>tallykhata-aecfa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314165111437:ios:1fb460ea191dd39776d0c4</string>
</dict>
</plist>